._character-card {
  width: max-content;
  max-width: 300px;
  padding: 15px;
  height: 300px;
  border-radius: 5px;
  background: #373535;
  gap: 15px;
  display: flex;
  flex-direction: column;

  .character-name {
    width: 100%;
    text-align: center;
  }

  .characteristics {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, max-content));
    gap: 10px;

    div {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .characteristic {
        display: flex;
        flex-direction: row;

        .name {
          color: #7d8083;
        }

        .value {
          width: max-content;
        }
      }
    }
  }

  .skills {
    display: flex;
    flex-direction: row;

    .skill-tag {
      display: flex;
      flex-direction: row;
      background: #2c2b2b;
      border-radius: 5px;
      padding: 5px;
      gap: 5px;
      width: max-content;
      height: max-content;
      flex: 1 0;
      font-size: small;
    }
  }
}
